.button-edit,.button-delete{
  cursor: pointer;
}
.card {
    position: relative;
    height: 150px;
    width: 300px;
    transition: 0.3s;
    cursor: pointer;
    margin: 15px;
  
    h2 {
      font-size: 1rem;
      color: black;
    }
    .infos {
      position: absolute;
      top: 0;
      left: 0;
      background: white;
      height: 100%;
      width: 100%;
      display:grid;
      align-items: center;
      justify-content: center;
      transition: 0.3s;
    }
    span{
        margin: 1%;
        background: $color2;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 150px;
        text-transform: uppercase;
        box-shadow: $shadow;
        color: white;
        cursor: pointer;
       }

  }
  .card-client {
    display: flex;
    position: relative;
    height: 140px;
    width: 300px;
    transition: 0.3s;
    cursor: pointer;
    margin: 15px;
    .more-horiz{
      margin-left: 250px ;
    }
    h4{
      color: black;
    }
  
    h5 {

      color: grey;
    }
    .infos {
      position: absolute;
      top: 0;
      left: 0;
      background: white;
      height: 100%;
      width: 100%;
      align-items: center;
      transition: 0.3s;
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;

    }
    span{
      background: $color2;
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 150px;
      text-transform: uppercase;
      box-shadow: $shadow;
      color: white;
      cursor: pointer;
      margin-right: 250px;
     }
  }